.social-media {
  color: #ECEBF2;
}

.footer-line {
  height: 1px;
  background-color: #ECEBF2;
  border: none;
}

.footer {
  background-color: #83818C;
}

.footer-a {
  color: #BCBABF;
  text-decoration: underline;
  font-weight: normal;
}