/* color schema sample */
#color-schema {
  background-color: #BCBABF;
  background-color: #83818C;
  background-color: #565659;
  background-color: #ECEBF2;
  background-color: #5D8C87;
  color: #F7F7F7;
}
/* end of color sample */

body {
  font-family: 'Roboto Condensed', sans-serif !important;
}

.a-link-cs {
  color: #5D8C87;
  text-decoration: underline;
  font-weight: normal;
}

.on-click {
  color: #5D8C87;
  text-decoration: underline;
  font-weight: normal;
  cursor: pointer !important;
}

.on-click:hover {
  color: #0069D9;
}

.bg-card-cs {
  background-color: #ECEBF2;
}

.dropdown-item-cs:hover {
  color: #F7F7F7;
  background-color: #5D8C87;
}

.li-link-cs {
  cursor: pointer !important;
}

/*  */
.btn-outline-cs {
  color: #5D8C87;
  border-radius: 20px;
  border: 1px solid rgba(93, 140, 135, 1);
}

.stage-link-cs {
  color: #5D8C87;
  font-weight: normal;
}

.table-link-cs {
  color: #5D8C87;
  font-weight: normal;
  text-decoration: none;
}

.a-pagination-cs {
  color: #5D8C87;
  text-decoration: none;
  font-weight: normal;
  background-color: #ECEBF2 !important;
}

.table-row-cs {
  cursor: pointer !important;
  background-color: #ffffff;
}

.table-row-cs:hover {
  background-color: #f8f9fa !important;
}

.table-row-no-link-cs {
  background-color: #ffffff;
}

.table-row-no-link-cs:hover {
  background-color: #f8f9fa !important;
}

.product-img {
  width: 100%;
}

.btn-link {
  border-radius: 20px;
  background-color: #5D8C87;
  border: 1px solid rgba(93, 140, 135, 1);
  cursor: default;
}

.btn-link:hover, .btn-link:active {
  text-decoration: none;
}

.span-link-cs {
  cursor: pointer;
}

.title_card_header {
  background-color: #ECEBF2;
}

.title-font {
  font-weight: bold;
}

.title-btn {
  color: #5D8C87;
  border-radius: 20px;
  border: 1px solid rgba(93, 140, 135, 1);
}

.title-btn:hover {
  color: #5D8C87;
}


/* start from here */
.cs-card-bg-color {
  background-color: #ECEBF2;
}